.zui-scroll-wrapper {
	top:46px;
	bottom: 0px;
}
.zui-sug-content {
	white-space: normal;
	height: 40px;
	overflow: hidden;
}





/*mui css rewrite*/
.mui-bar-nav {
	background-color: #007AFF;
}
.mui-bar-nav > .mui-icon {
	color: white;
}
